- if @entry.banner.exists?
  #entry-banner{ style: "background-image:url('#{ image_url @entry.banner.url(:regular) }')" }
    #entry-title
      %h2.title-fit-text= @entry.title
- else
  #entry-title
    %h2.title-fit-text= @entry.title
#entry-content.row
  .span8
    .formatted-text
      = @entry.text.html_safe
  .span4
    - if @entry.user
      = render 'shared/author_block', user: @entry.user
    =  render 'shared/entry_details_block', entry: @entry
    - if current_user && current_user.is_admin?
      .separated-container
        =link_to t('button.edit'), edit_admin_entry_path(@entry.id), class: 'btn btn-inverse'
        =link_to t('button.delete'), admin_entry_path(@entry.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'