%h2= t 'header.change_email'
.email-change-content
  .form-container
    = simple_form_for @email_change, url: { action: :create }, html: { class: 'form-content' } do |f|
      = f.error_notification
      = f.input :password, input_html: { maxlength: 80, class: 'input-fit' }
      = f.input :new_email, input_html: { class: 'input-fit' }
      .control-group
        .controls
          = f.button :submit, t('button.change'), class: 'btn btn-inverse'