%h2= t 'mailer.header.removal_activation_email'
.email-text-content= t 'mailer.description.removal_activation_email'
%p= url_for( controller: 'public/users', action: 'destroy', token: @user.removal_token, locale: I18n.locale, only_path: false )
.email-text-content= t 'mailer.description.email_explanation'