%h2= t 'mailer.header.password_reset_email'
.email-text-content= t 'mailer.description.password_reset_email'
%p= url_for( controller: 'public/password_resets', action: 'edit', token: @user.reset_password_token, locale: I18n.locale, only_path: false )
.email-text-content= t 'mailer.description.email_explanation'