#search
  = error_messages_for(@search)

  #search-courses.search-content
    %h2= t 'header.courses'
    - if @courses.empty?
      .formatted-text= t 'description.courses_not_found'
    - else
      .search-result
        - @courses.each do |course|
          .search-course.search-result-item
            .search-result-item-title
              %h3= link_to course.title, course_path(course.id)
            .search-result-item-content
              - if course.cover.exists?
                .search-result-item-cover
                  = link_to image_tag(course.cover.url(:small)), course_path(course.id)
              .search-result-item-short-text
                = course.short_text.html_safe
            .search-result-item-buttons
              = link_to t('button.read_more'), course_path(course.id)
              - if current_user && current_user.is_admin?
                =link_to t('button.edit'), edit_admin_course_path(course.id)
        .clearfix
      = will_paginate @courses, param_name: 'courses_page'

  #search-entries.search-content
    %h2= t 'header.entries'
    - if @entries.empty?
      .formatted-text= t 'description.entries_not_found'
    - else
      .search-result
        - @entries.each do |entry|
          .search-entry.search-result-item
            .search-result-item-title
              %h3= link_to entry.title, entry_path(entry.id)
            .search-result-item-content
              .search-result-item-short-text
                = entry.short_text.html_safe
            .search-result-item-buttons
              = link_to t('button.read_more'), entry_path(entry.id)
              - if current_user && current_user.is_admin?
                =link_to t('button.edit'), edit_admin_entry_path(entry.id)
        .clearfix
      = will_paginate @entries, param_name: 'entries_page'