.row
  .span5
    %h2= t 'header.password_recovery'
    .form-container
      = simple_form_for @password_recovery, url: { action: :create }, html: { class: 'form-content' } do |f|
        = f.error_notification
        = f.input :email, input_html: { maxlength: 80, class: 'input-fit' }
        .control-group
          .controls
            = f.button :submit, t('button.recover'), class: 'btn btn-inverse'
  .span7
    %h2= t 'header.password_recovery'
    .formatted-text= t 'description.password_recovery'
