#captcha-field{ :class => "control-group" + (" error" unless object.errors[:captcha].empty?).to_s }
  #recaptcha_widget
    #recaptcha_custom_image
      #recaptcha_image
      #recaptcha_custom_refresh_image
        %a{ :href => "javascript:Recaptcha.reload()" }
          %i.icon-refresh
  %label.captcha.required.control-label{ :for => "recaptcha_response_field" }
    %abbr{ :title => "required" } *
    = t 'form.label.captcha'
  .controls
    %input.required.input-fit#recaptcha_response_field{ :type => "text", :name => "recaptcha_response_field" }
    - unless object.errors[:captcha].empty?
      %span.help-inline= object.errors[:captcha].first
  = recaptcha_tags :display => { :theme => 'custom', :custom_theme_widget => 'recaptcha_widget', :error => t('form.error.captcha') }