- if flash[:error_message]
  .alert.alert-error
    %button.close{ "data-dismiss"=>"alert"} &times;
    = flash[:error_message]
  - flash[:error_message] = nil
- if flash[:success_message]
  .alert.alert-success
    %button.close{ "data-dismiss"=>"alert"} &times;
    = flash[:success_message]
  - flash[:success_message] = nil
- if flash[:info_message]
  .alert.alert-info
    %button.close{ "data-dismiss"=>"alert"} &times;
    = flash[:info_message]
  - flash[:info_message] = nil
- if flash[:alert_message]
  .alert.alert-alert
    %button.close{ "data-dismiss"=>"alert"} &times;
    = flash[:alert_message]
  - flash[:alert_message] = nil