.notice
  - if flash[:info] && !flash[:info].blank?
    .alert.alert-info#notice
      %button.close{ :type=>"button", "data-dismiss"=>"alert" } ×
      = flash[:info]
  - if flash[:success] && !flash[:success].blank?
    .alert.alert-success#notice
      %button.close{ :type=>"button", "data-dismiss"=>"alert" } ×
      = flash[:success]
  - if flash[:error] && !flash[:error].blank?
    .alert.alert-error#alert
      %button.close{ :type=>"button", "data-dismiss"=>"alert" } ×
      = flash[:error]
  - if flash[:alert] && !flash[:alert].blank?
    .alert.alert-alert#alert
      %button.close{ :type=>"button", "data-dismiss"=>"alert" } ×
      = flash[:alert]