.form-container
  = simple_form_for @country, url: (@country.new_record? ? admin_countries_path() : admin_country_path(@country.id)), html: { class: 'form-content' } do |f|
    = f.error_notification
    = f.input :name, input_html: { maxlength: 32 }
    .split
      .split-element.size-20
        = f.input :code, wrapper_html: { class: 'split-element-content' }
      .split-element.size-30
        = f.input :currency_code, wrapper_html: { class: 'split-element-content' }
      .split-element.size-20
        = f.input :currency_symbol, wrapper_html: { class: 'split-element-content' }
      .split-element.size-30
        = f.input :tax, wrapper_html: { class: 'split-element-content' }
    = f.input :payment_provider, collection: BaseModel::Country.payment_provider_types, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }
    .control-group
      .controls
        = f.button :submit, (@country.new_record? ? t('button.create') : t('button.update')), class: 'btn btn-inverse'
