%h2= t 'admin.contries.header.edit_country'
= render partial: 'menu', locals: { buttons: [ { label: 'button.show_overview', url: admin_country_path(@country.id) },  { label: 'button.delete', url: admin_country_path(@country.id), method: :delete, confirm: 'label.confirm_delete' } ] }
= render partial: 'form'
