%h2= t 'admin.contries.header.show_country'
= render partial: 'menu', locals: { buttons: [ { label: 'button.edit', url: edit_admin_country_path(@country.id) },  { label: 'button.delete', url: admin_country_path(@country.id), method: :delete, confirm: 'label.confirm_delete' } ] }
.admin-show
  .split.admin-show-element
    .split-element.size-80
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.name'
          .admin-show-value= @country.name
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.country_code'
          .admin-show-value= @country.code
  .split.admin-show-element
    .split-element.size-40
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.payment_provider'
          .admin-show-value= @country.payment_provider_type
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.currency_code'
          .admin-show-value= @country.currency_code
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.currency_symbol'
          .admin-show-value= @country.currency_symbol
    .split-element.size-20
      .split-element-content
        .admin-show-input
          .admin-show-label= t 'label.tax'
          .admin-show-value= @country.tax

