.form-container
  = simple_form_for @entry, url: (@entry.new_record? ? admin_entries_path() : admin_entry_path(@entry.id)), html: { multipart: true, class: 'form-content' } do |f|
    = f.error_notification
    = f.input :title, input_html: { maxlength: 128 }
    = f.input :short_text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, maxlength: 100000, value: @entry.short_text }
    = f.input :text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' }, maxlength: 100000, value: @entry.text }
    = f.input :code, input_html: { maxlength: 10000 }
    = file_field_for(f, :image, :thumb)
    = file_field_for(f, :banner, :thumb)
    .split
      .split-element.size-30
        = f.input :main_display_mode, collection: BaseModel::Entry.main_display_mode_types, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }
      .split-element.size-30
        = f.input :status, collection: BaseModel::Entry.status_types, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }
      .split-element.size-40
        = f.association :country, wrapper_html: { class: 'split-element-content' }, input_html: { class: 'select2' }

    = f.association :user, label_method: :email, input_html: { class: 'select2' }
    .control-group
      .controls
        = f.button :submit, (@entry.new_record? ? t('button.create') : t('button.update')), class: 'btn btn-inverse'
