.row
  .span5
    %h2= t 'header.login'
    .form-container
      = simple_form_for @session, url: { action: :create }, html: { class: 'form-content' } do |f|
        = f.error_notification
        = f.input :email, input_html: { maxlength: 80, class: 'input-fit' }
        = f.input :password, input_html: { maxlength: 300, class: 'input-fit' }
        = f.input :remember_me, required: false, label: false, as: :boolean, inline_label: t('description.remember_me')

        .split
          .split-element.size-40
            .split-element-content
              = f.button :submit, t('button.login'), class: 'btn btn-success btn-block'
          .split-element.size-60
            .split-element-content
              = link_to t('label.password_recovery'), { controller: 'public/password_resets', action: 'new' }, class: 'btn-block btn'

        %hr
        .control-group
          .controls{ 'data-no-turbolink' => '' }
            = link_to t('button.register_new_account'), { controller: 'users', action: 'new' }, class: 'btn btn-large btn-block'
  .span7