!!!
%html
  %head
    %title TODO
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'
    -#= javascript_include_tag 'plugins/jquery.nested.js'
    - if current_user && current_user.is_admin?
      = javascript_include_tag 'ckeditor/init'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #main
      %header
        .container-fluid
          .row
            .col-xs-4
              #logo
            .col-xs-8
              %nav
      #content
        .container-fluid
          = render(partial: 'shared/notice_messages')
          = content_for?(:content) ? yield(:content) : yield
      %footer
        .container-fluid
          .row

-# Extra JavaScript from different templates
= yield(:script)